<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@ViewData["Title"] - asp_net_core</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site-public.css" />
     <script src="https://kit.fontawesome.com/54df14b29c.js" crossorigin="anonymous"></script>
</head>
<body>
    
            @RenderBody()
    
</body>
</html>
