@model Curso
@{
    ViewData["Title"] = "Información Curso";

}
<h1>@ViewData["Title"]</h1>
<h2>@ViewBag.MensajeExtra</h2>
<strong>desde la vista parcial</strong>
<partial name="ObjetoEscuelaSimple"/>
<p><i>@ViewBag.Fecha</i></p>